<h1>Log In</h1>

<%= error_message %>
<form action="/sessions" method="POST">
    <label>Email: </label>
    <input type="text" name="user_email"> 

    <label>Password: </label>
    <input type="password" name="password">

    <button>Log In</button>
</form>