<section>
    <form action="/users" method="POST">
        <label>User Handle: </label><br>
        <input type="text" name="user_handle"><br>

        <label>Email: </label><br>
        <input type="text" name="user_email"> <br>

        <label>Password: </label><br>
        <input type="password" name="password"><br>

        <label>Profile image URL: </label><br>
        <input type="text" name="user_image_url">  <br>  

        <button>Sign up</button>
    </form>
</section>