<form action="/users/signup" method="POST">
    <label>User Handle: </label>
    <input type="text" name="user_handle">

    <label>Email: </label>
    <input type="text" name="user_email"> 

    <label>Password: </label>
    <input type="password" name="password">

    <label>Profile image URL: </label>
    <input type="text" name="user_image_url">    

    <button>Sign up</button>
</form>